nav(style={background:'#660099'})
    .nav-wrapper
        h3.brand-logo(href='/') &nbsp &nbsp &nbsp ApniCare &nbsp &nbsp &nbsp
        ul.right
            li
                a(href='/users/ApniCare/About?page=AboutUs') &nbsp &nbsp &nbsp About Us &nbsp &nbsp &nbsp
            li
                a(href='/users/ApniCare/About?page=Contact') &nbsp &nbsp &nbsp Contact &nbsp &nbsp &nbsp
            li
                a(href='/users/ApniCare/About?page=NeedHelp') &nbsp &nbsp &nbsp Need Help &nbsp &nbsp &nbsp
            li
                a(href='/users/ApniCare/About?page=FeedBack') &nbsp &nbsp &nbsp Feedback &nbsp &nbsp &nbsp

            // Dropdown Trigger
            //li
                a.dropdown-button(href='#!', data-activates='dropdown1') &nbsp &nbsp &nbsp
                    | profile &nbsp &nbsp &nbsp
                    i.material-icons.right arrow_drop_down
if(page=='AboutUs')
    div.im
        h2.center About Us
    //img#drug(src='/images/drugsData.jpg', style='width:100%;height:5%;')
    div
    br
    div.row
        div.col.s1.m1.l2
        div.col.s10.m10.l8.black-text
            ul#tabs-swipe-demo.tabs
                li.tab.col.s6.m6.l6
                    a(href='#test-swipe-1') Company History

                li.tab.col.s5.m5.l5
                    a.active(href='#test-swipe-2') Our Mission

            #test-swipe-1.col.s12
                br
                br
                h4 Hello!
                p.black-text
                | We're ApniCare - a great place for people serious about health and fitness.
                | We connect commoners with healthcare providers.


            #test-swipe-2.col.s12
                br
                br
                h4 The Goal
                .divider
                p
                | Our Inspiration & Mission
                p
                | If you allow your pain to rule your life, it makes you mess.
                p
                | Mess always needs inspiration to move out
                p
                | We are inspired from mother’s pain, who always works for our health and care. We are working to spread more and more information about health and wellness products, drugs, diseases, and all care & healthcare services to decrease pain of our loved ones.
                |  Focused to provide care in hand and get a reach to every care service near you and your loved ones.
                br
                br
                p
                | Our Team
                br
                p
                | Meet our team we are power pack of young blood from Pharmacy profession to Technical expertise

        div.col.s1.m1.l2
else if(page=='Contact')
    div.im
        h2.center Contact Us
    //img#drug(src='/images/drugsData.jpg', style='width:100%;height:5%;')
    div.row
        div.col.s1.m1.l2
        div.col.s10.m10.l7.black-text
            br
            br
            i.material-icons.prefix contacts
            h5 Communication Address:
            p TBI,KIET group of Institutions Ghaziabad, Uttar Pradesh,201206
            i.material-icons.prefix contact_phone
            h5 Phone Numbers:
            p +91-8630051462
            br
            i.material-icons.prefix email
            h5 E-mails
            p support@apnicare.com



else if(page=='NeedHelp')
    div.im
        h2.center HELP ?
    //img#drug(src='/images/drugsData.jpg', style='width:100%;height:5%;')
    div
    br
    div.row
    div.col.s1.m1.l2
    div.col.s10.m10.l8.black-text
        h7.black-text.center We think you are not satisfied with our services
            | Please let us know your queries using the form below.
        br
        .input-field.col.s12
            select.browser.default.black-text#fdropdown
                option(value='query') Query
                option(value='drug') Drug related
                option(value='disease') Disease related
                option(value='molecule') Molecule related
                option(value='issue') Other Issues
        if(page == 'index')
            .input-field.col.s4.black-text
                input(type="text")#name
                label(for="name") Name
        if(page == 'index')
            .input-field.col.s3.black-text
                input(type="text")#number
                label(for="number") Number
        if(page == 'index')
            .input-field.col.s5.black-text
                input(type="email")#n_email
                label(for="n_email") Email
        label(for='textarea1') Description
        .input-field.col.s11#n_description
            textarea#textarea1.materialize-textarea.black-text
        br
        br
        button.hoverable.btn(title="submit your suggestions" style={width: "40%"} type="submit")#submitbutt Submit

else if(page=='FeedBack')
    div.im
        h2.center FeedBack
    //img#drug(src='/images/drugsData.jpg', style='width:100%;height:5%;')
    div
    br
    div.row
    div.col.s1.m1.l2
    div.col.s10.m10.l8
