doctype html
html
    head
    body
        h3 Admin/Activity

        br
        br
        a(href="/admin_activityDrug") Drug Data
        br
        a(href="/admin_activityDisease") Disease Data
        br
        a(href="/admin_activityMolecule") Molecule Data
        br
        a(href="/admin_activityCategories") Drug Categories
        br
        a(href="/admin_activityDataIssue") Data Issue