doctype html
html
    head
    body
        h3 Admin/Feedback
        br
        br
        a(href="/admin_feedbackUser") User
        br
        a(href="/admin_feedbackHealthCare") Health Care Provider