.col.s12.m7
    .card.horizontal
        .card-image
            img(src='/images/db.jpg' height="400")
        .card-stacked
            .card-content
                a.i.material-icons.right#close(href="home") close
                include ./tabs
            .card-action
                a.modal-action.modal-close.waves-effect.waves-purple.btn.left.purple(href="/") for HealthCare Provider
