doctype html
html
    head
    body
        h1 Enter Disease details
        form(action='/diseases', method='POST')
            | Disease Name :
            input(type='text', name='disease_name')
            br
            | Symptoms :
            input(type='text', name='symptoms')
            br
            | Risk factor :
            input(type='text', name='risk_factor')
            br
            | Cause :
            input(type='text', name='cause')
            br
            | Diagnosis_subhead :
            input(type='text', name='subhead1')
            br
            | Diagnosis_info :
            input(type='text', name='subhead2')
            br
            | organ_subhead :
            input(type='text', name='subhead')
            br
            | Treatment :
            input(type='text', name='treatment')
            br
            | Outlook :
            input(type='text', name='outlook')
            br
            | Prevention :
            input(type='text', name='prevention')
            br
            | Source :
            input(type='text', name='source')
            br
            br
            input(type='submit', name='submit')
