div#forgot.row.active
    div.col.s12
        ul.tabs
            li.tab.col.s8
                a(href='forgetTab') ForgotPassword

    #forgetTab.col.s12
        div
            a.waves-effect.btn-flat.small#arrow
                i.material-icons arrow_back
        p
        | Please enter your registered Mobile Number to receive a password reset OTP.
        div.input-field.col.s11
            input(type="text")#resetPassword
            label(for="resetPassword") Registered Mobile Number

        div#field
            a.modal-action.modal-close.waves-effect.waves-green.btn.teal#cancel Cancel
            a.waves-effect.waves-green.btn.teal.right#continue Continue
        include forForgotPass


