// please move it to a folder named partial and use it
.card-panel.hoverable.purple.darken-3(class='#6a1b9a')
    a.brand-logo(href='#') Logo
    span.flow-text.center ApniCare
        include ./register.pug
        include ./login.pug

