
.card-panel.hoverable.purple.darken-3(class='#6a1b9a')

    div.row
        div.col.s6
            h4.left
                a.white-text.brand-logo(href='/') ApniCare

        div.col.s5.m5
            nav
                .nav-wrapper.purple
                     form
                         div.input-field
                                 input(type='search' required)#search
                                 label.label-icon(for='search')
                                     i.material-icons search
