doctype html

html
    include ./head.pug

        body

            div

                include ./partial/header.pug

                include ./body.pug

                //include ./partial/footer.pug