doctype html

html

    include ./head

    body

        div
            .parallax
            include partial/header

            include ./body

            include partial/footer

            //include ./tabs