doctype html

html
    include ./head.jade

        body

            div
<<<<<<< HEAD
                include ./header.pug

                include ./body.pug

               // include ./footer.pug



=======
                .card-panel.hoverable.purple.darken-3(class='#6a1b9a')
                    a.brand-logo(href='#') Logo
                        span.flow-text.center ApniCare

                        a.waves-effect.waves-light.modal-trigger.right(href="#modal1")#registerbutton register

                        div#modal1.modal.modal-fixed-footer
                            div.modal-content

                                div.input-field.col.s12
                                    input(type="text")#name
                                    label(for="name") name
                                div.input-field.col.s12
                                    input(type="text")#number
                                    label(for="number") number
                                div.input-field.col.s12
                                    input(type="password")#password
                                    label(for="password") Password
                            div.modal-footer
                                a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat#submitButton submit

                        a.waves-effect.waves-light.modal-trigger.right(href="#modal2")#loginbutton login
                            span.flow-text /
                        div#modal2.modal.modal-fixed-footer
                            div.modal-content

                                div.input-field.col.s12
                                    input(type="text")#number
                                    label(for="number") number
                                div.input-field.col.s12
                                    input(type="password")#password
                                    label(for="password") Password
                            div.modal-footer
                                a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat#loginButton1 login
                                            //-----------------carousel---------------------
            div.carousel
                a.carousel-item(href="#one!")
                    img(src="/images/daa.jpg")
                a.carousel-item(href="#two!")
                    img(src="/images/daa.jpg")
                a.carousel-item(href="#three!")
                    img(src="/images/daa.jpg")
                a.carousel-item(href="#four!")
                    img(src="/images/daa.jpg")
                a.carousel-item(href="#five!")
                    img(src="/images/daa.jpg")
                                                //----------------parallax--------------------
            div.parallax-container
                div.parallax
                img(src="/images/db.jpg" height="1000" width="100%")
>>>>>>> c685a54857bb59f813d6a945ad26669caad3ab19
