html
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")

        script(src="https://code.jquery.com/jquery-3.2.1.min.js")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

        title ApniCare

    body
        a.btn.waves-effect.wave-light#openRegisterFormButton(href="/registration") Register
        a.btn.waves-effect.wave-light#openLoginFormButton(href="/login") Login


        form#registerForm.hidden

        form#loginForm.hidden