div#log.row
    div#login.col.s12
        div.input-field.col.s12(style={padding: "0px",margin:"0px",background:"white"})
            input(type="text")#number2
            label(for="number2") Number
        div.input-field.col.s12
            input(type="password")#password2
            label(for="password2") Password
            span(style={position: "absolute", right: "0"}).badge.btn.right#forgotButton Forgot?
        div.col.s12
            input(type="checkbox")#check2
            label(for="check2") show password
            br
            br


            //include forgotPassword

        //div.row(style={padding: "0px",margin:"0px",border:"0"})
            a.btn-flat.right#forgotButton
                span Forgot password?
<<<<<<< HEAD

=======
>>>>>>> da7eef30adec982396e161a6005b3a9d80591974
        div.row.center
            a.waves-effect.waves-purple.btn.purple.hoverable.darken-2#loginButton1(style={width:"80%"}) Login
            br
            br
            a.waves-effect.waves-purple.hoverable.btn#NewtoApnicare(style={width:"80%",backgroundColor:"white"})
                | New to ApniCare?Sign Up







<<<<<<< HEAD
//      br
        div.row
            div.col.s12
                a.modal-action.modal-close.waves-effect.waves-green.btn.center.green#loginButton1 Login

=======
        br
        div.row
            div.col.s12
                a.modal-action.modal-close.waves-effect.waves-green.btn.center.green#loginButton1 Login
>>>>>>> da7eef30adec982396e161a6005b3a9d80591974
