a.waves-effect.waves-light.modal-trigger.btn.right(href="#modal2")#loginbutton login
    //span.flow-text /
div#modal2.modal.modal-fixed-footer
    div.modal-content
        div.input-field.col.s12
            input(type="text")#number
            label(for="number") number
        div.input-field.col.s12
            input(type="password")#password
            label(for="password") Password
    div.modal-footer
        a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat#loginButton1 login
