//doctype html
//html
    head
    body
        h1 Enter medicine details
        form(action='/medicine', method='POST')
            | Company :
            input(type='text', name='company_name')
            br
            | Brand :
            input(type='text', name='brand_name')
            br
            | Salt :
            input(type='text', name='salt_name')
            br
            | Dosage :
            input(type='text', name='dosage')
            br
            | Strength :
            input(type='text', name='strength')
            br
            | Price :
            input(type='text', name='price')
            br
            br
            input(type='submit', name='submit')
