div.row(style={padding: "0px", margin: "0px"})
    div.col.l3.hide-on-med-and-down(style={padding: "0px", margin: "0px", background: "black"})
        img(src='/images/black.png' height="500px" width="100%")
    div.col.s12.m12.l5
        include logContent
        br
        include forgotPassword
    div.col.l1.hide-on-med-and-down
        div.row
            br
            br
            img(src='/images/black.png' height="150" width="1%")
            br
            h7 OR
            br
            img(src='/images/black.png' height="150" width="1%")
    div.hide-on-large-only
        div.row(style={padding: "0px",margin:"0px",border:"0"})
            img(src='/images/black.png' height="1px" width="40%")
            |OR
            img(src='/images/black.png' height="1px" width="40%")
    div.col.s12.m12.l2(style={margin:"0px",border:"0"})

        br
        p Also,you can...
        br

        a.modal-action.modal-close.waves-effect.waves-purple.btn.left.green.btn-large(href="/")
            span HealthCare_Provider







