div#modal1.modal.modal-fixed-footer
    div.modal-content
        div.input-field.col.s12
            input(type="text")#name
            label(for="name") name
        div.input-field.col.s12
            input(type="text")#number
            label(for="number") number
        div.input-field.col.s12
            input(type="password")#password
            label(for="password") Password
    div.modal-footer
        a(href="/profile").modal-action.modal-close.waves-effect.waves-green.btn-flat#submitButton submit
