doctype html
html
    head
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet")

        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

        script(src="https://code.jquery.com/jquery-3.2.1.min.js")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        //-----------js files------------------
        //script(src="/js/n_MyProfile.js")
        script(src="/js/n_main.js")
        //--------------css files-----------------
        link(href="/css/n_index.css" rel="stylesheet")
        link(href="/css/n_moleculeInfo.css" rel="stylesheet")
        link(href="/css/n_footer.css" rel="stylesheet")


        //link(href="/css/n_MyProfile.css" rel="stylesheet")

        //link(href="/css/script2.css" rel="stylesheet")



    //link(href="/styles/rstyle.css" rel="stylesheet")
        //link(href="/styles/rstyle4.css" rel="stylesheet")


    title Profile
    body
        //*****************************************dropdown for user*************************************************************************
        ul#dropdown1.dropdown-content
            li
                a(href='/profile/userprofile?page=My_Profile') My Profile
            li
                a(href='/profile/userprofile?page=My_Activity') My Activity
            li
                a(href='/profile/userprofile?page=Refer_Friends') Refer Friends
            li
                a(href='/profile/userprofile?page=Contact_Us') Contact Us
            li
                a(href='/logout') Logout



        if(page == 'My_Profile'||page=='Contact_Us'||page == 'My_Activity'||page=='Refer_Friends'||page=='Confidential_Information'||page == 'Emergency_Contact_Details'||page=='Address')
            include ./UserProfile/MyProfile
        else

            include ./n_partial/header
        div
            include ./n_partial/footer


//
            p hello #{number}
            a(href='logout') logout

            form(action="/uploadimage", method="post", enctype="multipart/form-data")
                input(type="file", name="myimage")
                input(type="submit", name="submit", value="submit")


            a(href='/verifypassword') Edit Name And Profile
            br
            a(href='/updatepassword') Edit Password
            br
            a(href='/verifydetailspassword') Edit Details
            br
            a(href='/addresspassword') Edit Address
            br
            a(href='/confidentialpassword') Edit Confidential
            br
            a(href='/emergencypassword') Edit emergency





//make complete profile like app
