a.waves-effect.waves-light.btn-flat.right.teal.modal-trigger(href='#modal1') Login/Register
#modal1.modal
    .modal-content(style={padding: "0px",margin:"0px",border:"0"})
    include ./modalRegister

