doctype html
html
    head
    body
        h1 Enter medicine details
        form(action='/searchall', method='POST')
            | Search brandname :
            input(type='text', name='search')
            br
            | number of skips :
            input(type='text', name='nskip')
            br
            | number of info :
            input(type='text', name='page')
            br
            input(type='submit', name='submit')