doctype html
html
    head
    body
        h1 Enter medicine details
        form(action='/brandinfo', method='POST')
            | Search brand :
            input(type='text', name='brand')
            br
            | number of strength :
            input(type='text', name='strength')
            br
            | number of page :
            input(type='text', name='page')
            br
            input(type='submit', name='submit')