doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jQuery UI Autocomplete - Default functionality
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/resources/demos/style.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            $(function () {
                $("#search-query").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/searchweb",
                            type: "POST",
                            data: request,  // request is the value of search input
                            success: function (data) {
                                // Map response values to field label and value
                                if (data.Symptoms != "") {
                                    response($.map(data.Symptoms, function (el) {
                                        return {
                                            label: el.symptoms
                                        };
                                    }));
                                }
                                if (data.Brands != "") {
                                    response($.map(data.Brands, function (el) {
                                        return {
                                            label: el.brand_name
                                        };
                                    }));
                                }
                                if (data.Molecules != "") {
                                    response($.map(data.Molecules, function (el) {
                                        return {
                                            label: el.molecule_name
                                        };
                                    }));
                                }
                                if (data.Categories != "") {
                                    response($.map(data.Categories, function (el) {
                                        return {
                                            label: el.categories
                                        };
                                    }));
                                }
                                if (data.Organs != "") {
                                    response($.map(data.Organs, function (el) {
                                        return {
                                            label: el.name
                                        };
                                    }));
                                }
                                if (data.Diseases != "") {
                                    response($.map(data.Diseases, function (el) {
                                        return {
                                            label: el.disease_name
                                        };
                                    }));
                                }
                            }
                        });
                    },
                    // The minimum number of characters a user must type before a search is performed.
                    minLength: 1,
                    // set an onFocus event to show the result on input field when result is focused
                    focus: function (event, ui) {
                        this.value = ui.item.label;

                        // Prevent other event from not being execute
                        event.preventDefault();
                    },
                    select: function (event, ui) {
                        // Prevent value from being put in the input:
                        this.value = ui.item.label;
                        // Set the id to the next input hidden field
                        $(this).next("input").val(ui.item.value);
                        // Prevent other event from not being execute
                        event.preventDefault();
                        // optionnal: submit the form after field has been filled up
                        $('#search-query').keypress(function(e){
                            if(e.which == '13') {
                                var datas = {
                                    search : ui.item.label
                                };
                                $.ajax({
                                    url: '/searchspecific',
                                    type: 'POST',
                                    data: JSON.stringify(datas),
                                    contentType: 'application/json',
                                    success: function (result) {
                                        alert(result.data.Organs[0].disease_name)
                                        if (result.status == 'success') {
                                            if(result.data.Brands != ""){
                                                window.location = '/searchbrands?brands='+result.data.Brands[0];
                                            }
                                            if(result.data.Diseases != ""){
                                                window.location = '/searchdiseases?diseases='+result.data.Diseases[0];

                                            }
                                            if(result.data.Symptoms != ""){
                                                window.location = '/searchsymptons?symptoms='+result.data.Symptoms;
                                            }
                                            if(result.data.Molecules != ""){
                                                window.location = '/searchmolecules?molecules='+result.data.Molecules[0];
                                            }
                                            if(result.data.Organs != ""){
                                                var value = [];
                                                for (var i = 0; i < result.data.Organs.length; i++) {
                                                    value.push(result.data.Organs[i])
                                                    alert(value[i]);
                                                }
                                                window.location = '/searchorgans?organs='+value;
                                            }
                                            if(result.data.Categories != ""){
                                                window.location = '/searchcategories?categories=' + result.data.Categories;
                                            }
                                        }
                                        else {
                                            Materialize.toast(result.message, 1000);
                                        }
                                    }
                                })
                            }
                        });
                    }
                });
            });
    body
        .bs-example
            label(for='search-query') Tags:
            input#search-query(type='text')