.nav-wrapper
    #mySidenav.sidenav
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
        li
            .user-view

                a(href='#!name')
                    center
                        span.white-text.name ApniCare
                a(href='#!email')
                    center
                        span.white-text.email apnicare@gmail.com
        li
            a(href='#!')
                i.material-icons cloud
                | First Link With Icon
        li
            a(href='#!') Second Link
        li
            .divider
        li
            a.subheader Subheader
        li
            a.waves-effect(href='#!') Third Link With Waves
