#footer0,#footer1,#footer2,#footer3
{
    z-index: 5;
    background-color: rgb(250, 251, 252);
    font-family: Whitney-SemiBold, Whitney;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .025em;
    padding: 0px;
    margin: 0px;
    color: #111111;
}
#footer0 {
    background-color: rgba(237, 238, 239, 0.92);
}
#footer1 {
    margin-top: -4%;
    background-color: rgba(245, 246, 247, 0.92);
}
#footer3 {
    margin-top: -3%;
    background-color: rgba(245, 246, 247, 0.92);
}

#footer0,#footer1 a{
    color:black;
    font-size: 14px;
    font-weight: 600;

}
#footer0,#footer1 h5{
    color:black;
    font-weight: 600;

}


#madeforIndia{
    font-size: 15px;
    margin-left: 2px;
    margin-top: -30px;
}
#logoimg2{
    margin-top: 0px;
    margin-left: 30%;
}
#logo1{
    font-weight: 300;
    font-family: OpenSans-Regular, sans-serif;
    color:black;
    font-size: 30px;
    margin-top: 0%;
    margin-right: 4%;
}
#footer3 #logo1:before{
    content: "";
    background-image:url("../images/aaa.png");
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 50px;
    width:100px;

    /*if you want to change the position you can use margins or:*/
    position:relative;
    top:15px;
    right:-20px;
}
#copyright{
    font-size: 15px;
    margin-top: -1%;
    margin-left: 0px;
}
#footer4,#footer5
{
    width: 0px;
    height: 0px;
}
.container
{
    padding: 0px;
}
.Uimg{
    border: solid;
    border-radius: 10px;
    color: #f9f9f9;
}
/*---------------need help?---------------------------*/
#modal_needhelp{
    height: 90%;
    max-height: 80%;
}
#main_text{
    font-weight: 800;
    font-family: OpenSans-Regular, sans-serif;
}
#fdropdown{
    border: solid;
    border-color: gray;
    height:50px ;
}
#textarea1{
    border: solid;
    height: 70px;
}
#n_emailof,#numberof,#nameof{
    background-color: white;
    border: solid;
    border-color: gray;
    height: 50px;
}
#submitbutt{
    margin-left: 25%;
    background-color: #660099;
}