body{
    margin:0;
    background-color: #f9f9f9;
    color: white;
    font-weight: 300;
    font-family: OpenSans-Regular, sans-serif;
    line-height: 28px;
}
/*------------LOGIN SIGNUP PAGE-------------------*/
@media only screen and (max-width:640px){
    /*#idiv2{*/
    /*margin-top:30%;*/
    /*}*/
    .modal{
        margin-top: 5%;
        width: 90%;
        min-height: 70%;
        max-height: 150%;
    }
    .modal .modal-content{
        padding: 0px;
        margin: 0px;
        max-height: 85%;
    }
    .image1 span
    {
        height:200px;
        width:150%;
        padding:0px;
        border: 0px;
        margin-left: -30px;
        content: url("../images/aaa.png");
    }
    #signupbut{
        background-color: #660099;
        width: 35%;
        margin-left:5px;
        border: 0px;
        padding: 0px;
        border-radius: 10px;
    }
    #notification{
        margin-right: 2px;
    }
    #irow3{
        margin-left: -80px;
    }

}
@media only screen and (min-width:640px){
    /*#idiv2{*/
    /*margin-top: 15%;*/
    /*}*/
    .modal{
        width: 45%;
        min-height: 60%;
        max-height: 98%;
    }
    .modal .modal-content{
        padding: 0px;
        margin: 0px;
        max-height: 90%;
    }
    .image1 span
    {
        height:200px;
        width:150%;
        padding:0px;
        border: 0px;
        margin-left:-48px;
        content: url("../images/aaa.png");
    }
    #signupbut{
        background-color: #660099;
        width: 15%;
        border-radius: 10px;
    }
    #notification{
        margin-right: 25px;
    }
    #irow3{
        margin-left: -40px;
    }
    #irow3 ul li a{
        display: inline-block;
        box-shadow: inset;
        position: relative;
        text-align: left;
        font-size:20px;
        padding-top: 40px;
        padding-right:1px;
        padding-left: 1px;
        text-decoration: none;

    }
    #irow3 ul li{
        padding: 0px;
        margin-left: 2px;
    }
    .span3:after{
        content: "";
        font-size: 15px;
        margin-left:20%;

    }

}
@media only screen and (min-width:1024px){
    #signupbut{
        background-color: #660099;
        width: 10%;
        border-radius: 10px;
    }

    .image1 span
    {
        height:200px;
        width:150%;
        padding:0px;
        border: 0px;
        margin-left:-55px;
        content: url("../images/aaa.png");
    }
}
.modal-content .row{
    margin-bottom: 0px;
}
#modal1{
    margin-bottom:-20px;
}
form{
    background-color: white;
}
#div1{
    display: block;
    padding: 0px;
    border: 0px;
    margin: 0px;
    max-height:90%;
    background-color: #660099;

}
#div2{
    display: block;
    padding: 0px;
    border: 0px;
    margin: 0px;
    max-height: 90%;
    background-color: #660099;
}
.extra{
    height: 100px;
    background-color: #660099;
}
#irow3 ul li a span{
    margin-left: -20






    px;
}
#healthCare {
    top:25px;
    color: #660099;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
#Customer {
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    left:30%;
    color: #660099;
    cursor:pointer;
}
.verify{
    position: absolute;
    right: 10px;
    top: 11px;
}
#closebutton{
    position: absolute;
    top: 1px;
    right: 3px;
}
input, .input-field {

    background-color: white;
}
.textarea {
    background-color: white;
}
.register>label{
    color: black;
    font-weight: 200;
}
.buttu {
    background-color: #660099;
    width: 70%;
    height:40%;
}
#providers {
    color: #660099;
}
#loginButton12,#NewtoApniCare,#D_loginButton,#P_loginButton {
    color: #660099;
    background-color: whitesmoke;
    width: 70%;
}
#loginButton1{
    background-color: #660099;
}
.p2 {
    font-size: 12px;
}
.icon{
    color: black;
}

#notification{
    margin-right: 25px;
}

/*---------------------INDEX PAGE-----------------------------*/

/*#idiv1{*/

/*top:0;*/
/*position: fixed;*/
/*right: 0;*/
/*will-change: transform;*/
/*left: 0;*/
/*z-index: 3;*/
/*background-color: #f9f9f9;*/
/*box-shadow: 0px 1px 3px rgba(0,0,0,.08);*/
/*}*/


/*.modal-backdrop {*/
/*z-index: 100000 !important;*/
/*}*/

#irow0{
    background-color: #f9f9f9;
}
#irow1{
    background-color: #f9f9f9;
    margin-top:-4px;
}

#logo1{
    font-size: 40px;
}
.span3:after{
    content:'"Healthy You and Yours"';
    font-size: 15px;
    margin-left:30%;

}
#irow1 #logo1:before{
    content: "";
    background-image:url("../images/aaa.png");
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 70px;
    width:100px;

    /*if you want to change the position you can use margins or:*/
    position:relative;
    top:20px;
    right: -20px;
}

#irow3 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#irow3 ul li{
    float: left;
    font-size: 20px;
}


#irow3 ul li a:before{
    content: "";
    position:absolute;
    border-left: 2px solid grey;
    height: 40px;

}
/*--------------------------------------main content of the page(drug disease and molecule)---------------------------------------------------------*/
/*-----------------css for search------------------*/
.search-container form{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.search-container button {
    float: right;
    width: 80px;
    height: 43px;
    padding: 6px 10px;
    margin-top: -44px;
    margin-right: 1px;
    background:gainsboro;
    font-size: 17px;
    border: 1px solid black;
    cursor:pointer;
}
.search-container button i {
    color:white ;
}
.search-container button:hover {
    background: #660099;
}
.search-container form input[type='search'] {
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid black;
    margin: 5px 0px 0px 0px;
}
.search-container form input[type='search']:focus {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #660099;
    margin: 5px 0px 0px 0px;
}
@media only screen and (max-width:640px){
    .search-container button {
        height: 42px;
        margin-top: -42px;
    }
}

#idiv3{
    width: 100%;
    height: 550px;
    background-color: lavender;
    margin-top: -2%;
    padding-left: 1%;
    color: black;
    font-weight: 400;
    font-family: OpenSans-Regular, sans-serif;
    line-height: 20px;
    font-size: 20px;
    text-align: left;
}
#idiv3 ul li span{
    display: inline-block;
    position: relative;
}

#idiv3 ul li span:hover:after{
    content: "";
    position:absolute;
    height: 1px;
    border-bottom: 1.3px solid #660099;
    top: 17px;
}

#idiv3 ul li span:hover:after{
    width: 100%;
}
#idiv3 ul li span:hover:after{
    left: 90%;
    margin-left: 1px;
}



#idiv3 ul{
    margin-top: 180px;

}
.content{
    font-family: OpenSans-Regular, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.76);
    text-decoration: none;
}
.content :hover{
    font-weight: 600;
    color: #660099;
}

/******************************************column of various informations**************************************************************************/
/*#idiv2{*/
/*margin-top: 9.5%;*/
/*}*/
#idiv4{
    position: absolute;
    right:0px;
    border: 2px solid #660099;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 15px;
    margin-top: -2%;
    height: 550px;
    width: 58%;
    background-color: #660099;
}
@media only screen and (max-width:600px){
    #idiv4{
        position:relative;
        width: 100%;
        height: 440px;
        border-radius: 0px 0px 0px 0px;
    }

}
#divider1{
    color:black;
    margin-left: 16%;
    margin-right: 10%;
}

/***************************for drug molecule disease information**********************/

#carousel
{
    color:black;
    border-radius: 15px;
    width:90%;
    height: 400px;
    margin-top: 1%;
    margin-left:-30%;
    background-color:#2d2d2d;
}
#crousel1{
    width: 100%;
    border-radius: 15px;
    background-image: url('../images/drugsData.jpg');
    height: 400px;
}
#crousel2{
    border-radius: 15px;
    background-image: url('../images/disease.jpg');
    height: 400px;
}
#crousel3{
    border-radius: 15px;
    height: 400px;
    background-image: url('../images/moleculeData.jpg');
}

#crousel11{
    border-radius: 15px;
    background-image: url('../images/drugsData.jpg');
}
#crousel22{
    border-radius: 15px;
    background-image: url('../images/disease.jpg');
}
#crousel33{
    border-radius: 15px;
    background-image: url('../images/moleculeData.jpg');
}
#crousel44 {
    border-radius: 15px;
    background-image: url("../images/doctor-spotligh.jpg");
}
.im {
    height: 90px;
    width: 100%;
    background-image: url("../images/contact-us.jpeg");
}