/*----------------------------------------------------------molecule view page--------------------------------------------------------------------------------*/

.drug_alphabets {
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    position: relative;
    padding: 2px;
    line-height: 1.42857;
}
.pull-left {
    float: left!important;
}
::after, ::before {
    box-sizing: border-box;
}
.drug_alphabets li {
    display: block;
    float: left;
    margin: 1.5px;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    padding: 2px;
    font-family: OpenSans-Regular;
}

ul {
    margin: 0;
}
ul li {
    list-style: none;
}
li {
    text-align: -webkit-match-parent;
}
.drug_alphabets li a.btn2 {
    font-size: 22px;
    width: 50px;
    height: 32px;
    padding: 2px 1px 2px 1px;
    color: black;
    background-color: white;
}
.drug_alphabets li a.all {
    width: 80px;
}
.drug_alphabets li a.btn2:focus {
    box-shadow: lavender;
    background-color: blue;
}
.drug_alphabets li a.btn2:hover {
    background-color: lightgray;
}
.drug_alphabets li a.btn2.active {
    background-color: lavender;
    font-size: 28px;
    color: blue;
}
.drug_alphabets li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: #FFF;
    border: lightgrey solid 1px;
}


.four-cols {
    column-count: 4;
    vertical-align: top;
}
@media screen and (max-width: 900px) {
    .four-cols {
        column-count: 3;
    }
}
@media screen and (max-width: 630px) {
    .four-cols {
        column-count: 2;
    }
}
@media screen and (max-width: 362px) {
    .four-cols {
        column-count: 1;
    }
}

/*---------------------------molecule section----------------------------------------------------------------------*/

#moleculeInformation1{
    color: black;
    font-family:Source Sans Pro,Verdana,sans-serif ;
    padding-top: 2%;
}
#moleculeInformation1 .heading{
    font-size: 1.2888rem;
    text-transform: capitalize;
}
#moleculeInformation1 #data{
    background-color: lavender;
}
#moleculeInformation1 #data a{
    font-size: 20px;
}
#moleculeInformation1 #data .m_p{
    color: black;
    padding-left: 5%;
    font-size: 21px;
    font-weight: 600;
}
#moleculeInformation1 #data .m_p_info{
    margin-left: 10%;
    color:#2d2d2d;
}
#moleculeInformation1 #data .m_p1{
    font-size: 18px;
    font-weight: 600;
    margin-left: -2%;
    color:#2d2d2d;
}
#moleculeInformation1 #data .m_p1:before{
    color:black;
    content : "►";
}
#moleculeInformation1 #data .divider{
    margin-left: 5%;
    color: black;
    height: 1.5px;
    margin-right: 5%;
}
#moleculeInformation1 #data ul{
    list-style-type:'none';
}
#pageContent{
    margin-top: 5%;
    position: fixed;
    right: 1%;
}
#pageContent ul{
    font-size: 15px;
}
#mol_col1{
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
    background-color: white;
}

#mol_row1_subrow2{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -10px;
    padding-top: 1px;
    background-color:#660099;
    color: white;
}
#mol_row1_subrow3{
    background-color:#660099;
    color: white;
    height: 36px;
    margin-bottom: 10px;
    margin-top: -5px;
}
#input3{
    margin-left: 20%;
}
#search3{
    width: 70%;
    background-color: white;
    border-color: lightgrey;
    border: solid lightgray;

}
#go{
    margin-top: -2.8%;
    margin-left: 520px;
    width: 10%;
    height: 98%;
}


#mol_row1_subrow4{
    z-index: 2;
    position: fixed;
    right: -0.5%;
    margin-left: -2px;
    width: 16%;
    border-radius: 15px;
    margin-top: 100px;
    background-color: transparent;
}
.company_name{
    font-size: 18px;
    font-weight: 400;
}
span.next_line, ul li.next_line, .next_line {
    white-space: pre-line;
    list-style-type: none;
}
.to_capital {
    text-transform: capitalize;
}
.bold {

    font-family: Verdana;
    font-weight: 500;
    display: block;
    padding: 2px 5px;
    color: #333;
    font-size: 25px;
    text-align: left;
    text-decoration: none;
    position: relative;
    z-index: 1;
}


.flowtext{

}