span
{
    background-color: wheat;
    font-size: 15px;

}
.btn
{
    background-color: mediumpurple;
}
#div1
{
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: mediumpurple;
}
#div2
{
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: rebeccapurple;
}
.image1
{
    height:410px;
    width:100%;
    padding:0px;
    margin:0px;
    border: 0px;
}
.image2
{
    height:1px;
    width:40%;
}
#healthCare,#Customer
{
    background-color: teal;
    width:100%;
}
form
{
    padding: 0px;
    border: 0px;
}
.modal
{
    width: 40%;
    max-height:80%;
    top: 6%;
    padding: 0px;
    border: 0px;

}
.row
{
    //background-color: purple;
    padding:0px;
    border:0px;
    margin-bottom: 0px;
    //margin:0px;
}
.input-field
{
    background-color: white;
}
.textarea
{
    background-color: white;
}
.buttu
{
    background-color: mediumpurple;
     width: 70%;
}
#providers
{
    color: teal;
}
#loginButton12,#NewtoApnicare
{
    color: purple;
    background-color: whitesmoke;
}