div.row
    div.col.s12.m12.l9.offset-l3
        h5.center Your Feedback
        table.bordered.highlight.centered
            thead
                tr
                    th CATEGORY
                    th RATING
                    th SUGGESTIONS
                    th RESPONSE
                tbody
                    tr
                        td Drug Data- qwe
                        td Average
                        td jhbabjfb
                        td hshdbcbjhsd hhbsgfgf