footer.page-footer#footer0
    .container
        .row
            .col.s12.m6.l4
                br
                h5.e Connect with Us

                a.blue-text(href='https://www.facebook.com/apnicaresbepl')
                    span.fa-stack.fa-lg
                        i.fa.fa-square-o.fa-stack-2x
                        i.fa.fa-facebook.fa-stack-1x
                a(href='https://twitter.com/apnicare')
                    span.fa-stack.fa-lg
                        i.fa.fa-square-o.fa-stack-2x
                        i.fa.fa-twitter.fa-stack-1x
                a(href='https://www.linkedin.com/company/13429452')
                    span.fa-stack.fa-lg
                        i.fa.fa-square-o.fa-stack-2x
                        i.fa.fa-linkedin.fa-stack-1x
                a.red-text(href='https://www.youtube.com/channel/UCnXujTJTTG1rrH4vJoO87mA')
                    span.fa-stack.fa-lg
                        i.fa.fa-square-o.fa-stack-2x
                        i.fa.fa-youtube.fa-stack-1x

            .col.s12.m6.l4
                br
                h5.e Download our app
                p.grey-text.text-lighten-4
                a(href="#")
                    img.Uimg(src="/images/playstore.jpg" height="40")
                //img.Uimg(src="/images/appstore.jpg" height="100")
            .col.l4.s12.m4
                br
                h5.e ApniCare
                p
                ul
                    li
                        a.black-text(href='/users/ApniCare/About?page=AboutUs') - About ApniCare
                    li
                        a.black-text(href='/terms') - Terms & Conditions

                    li
                        a.black-text(href='/policy') - Privacy Policy
                    li
                        a.black-text(href='#modal_needhelp') - Need Help?
                        //include ../UserProfile/NeedHelp
                        //a.grey-text.text-lighten-3(href='/') - Contact Us

    .footer-copyright(style={padding:'0px',margin:'0px',border:'0px'})#footer5

    //footer.page-footer#footer1
    //.container
        .row(style={padding:'0px',margin:'0px',border:'0px'})
            .col.l4.s12.m4
                h5.e Company Information
                p
                ul
                    li
                        a(href='/users/ApniCare/About?page=AboutUs') - About ApniCare
                    li
                        a(href='/') - Careers
                    li
                        a(href='/') - News & Reports
                    li
                        a(href='/') - Terms & Conditions

            .col.l4.s12.m4
                br
                br
                p
                    ul
                        li
                            a(href='/') - Privacy Policy
                        li
                            a.modal-trigger(href='#modal_needhelp') - Need Help?
                            //include ../UserProfile/NeedHelp
                            //a.grey-text.text-lighten-3(href='/') - Contact Us
                        li
                            a(href='/') - Feedback


            .col.l4.s12.m4
                h5.e Your ApniCare Account
                p
                ul
                    li
                        a(href='/') - SignUp/Login
                    li
                        a(href='/') - Your Profile
                    li
                        a(href='/') - HealthCare Providers
                    li
                        a(href='/') - Refer your Friend
    //.footer-copyright#footer4
    .footer-copyright#footer3
        .container
            //img.center(src="/images/az.png" height="50px" width="100px")
            a.center(href='/')
                //img#logoimg2.center(src="/images/az.png" height="50px" width="100px")
                p.center.logo#logo1 ApniCare.com
            p.center#madeforIndia Made for India
            p.center#copyright Copyright © 2017 SBEPL All right reserved


